<div class="about-me-wrapper">
    <mat-card>
        <mat-card-title> About Me </mat-card-title>
            <mat-card-subtitle>	Launie Weston (they/them)</mat-card-subtitle>
            <img id="marvin" src="../../../assets/images/marvin" alt="Marvin, my staffy"/>
            <mat-card-content>	
                <mat-grid-list role="list" cols="4" rowHeight="24px" gutterSize="5px">
                    <mat-grid-tile role="listitem"><mat-icon color="accent">transgender</mat-icon> Non-binary</mat-grid-tile>
                    <mat-grid-tile role="listitem"><mat-icon color="accent">code</mat-icon> Web developer</mat-grid-tile>
                    <mat-grid-tile role="listitem"><mat-icon color="accent">home</mat-icon> Warrington</mat-grid-tile>
                    <mat-grid-tile role="listitem"><mat-icon color="accent">science</mat-icon> Scientific education</mat-grid-tile>
                  </mat-grid-list>
                  <div class="description">I am a non-binary web developer, living in Warrington. 
                    As my day job I work at Waters developing the next generation of integrated web based applications used to run Waters Mass Spectroscopy and Liquid Chromatography systems. <br/>
                    In my spare time I'm passionate about working on projects to help local communities, particularly LGBTQ+ groups. 
                    As well as web development, I am interested in maker projects, using raspberry pi to combine my love of programming with gadgets. <br/>
                    When I'm not on my computer I love to spend time with family: my husband and our dog, a loveable staffy called Marvin. Between long walks, DIY and boardgames I also sometimes find time to put my feet up and relax.
                </div>
            </mat-card-content>
            <mat-card-title> Academic Achievements </mat-card-title>
            <mat-card-content>	
                <mat-list role="list">
                    <div mat-subheader>Education</div>
                    <mat-list-item role="listitem">
                        <mat-icon>account_balance</mat-icon> Doctor of Philosophy: Computational Chemistry · University of Manchester · 2012-2016
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <mat-icon>account_balance</mat-icon> Bachelor of Science: Astrophysics and Chemistry · Keele University · 2007-2010
                    </mat-list-item>
                    <div mat-subheader>Publications</div>
                    <mat-list-item role="listitem">
                        <mat-icon>assignment</mat-icon> Computational Characterisation of Organic Molecules for Electronic Applications and an Experimental Study of Cocrystals for Electronic  Devices
                        Dec 2016
                    <a aria-label="open link" href="https://www.research.manchester.ac.uk/portal/en/theses/computational-characterisation-of-organic-molecules-for-electronic-applications-and-an-experimental-study-of-cocrystals-for-electronic-devices(0d1a24ea-3241-40cf-bafa-6be179ba4c26).html" target=”_blank>
                        <mat-icon color="accent">open_in_new</mat-icon>
                    </a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-icon>assignment</mat-icon> Thallophilic Tl(I)–Tl(I) contacts mediated by Tl–aryl interactions. A computational study
                    Mar 2016
                    <a aria-label="open link" href="https://pubs.rsc.org/is/content/articlelanding/2016/dt/c6dt01035k#!divAbstract" target=”_blank>
                        <mat-icon color="accent">open_in_new</mat-icon>
                    </a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-icon>assignment</mat-icon> An orthogonal C–H borylation - cross-coupling strategy for the preparation of tetrasubstituted “A2B2”- chrysene derivatives with tuneable photophysical properties
                    Feb 2015
                    <a aria-label="open link" href="https://pubs.rsc.org/en/content/articlelanding/2014/CC/C4CC10132D#!divAbstract" target=”_blank>
                        <mat-icon color="accent">open_in_new</mat-icon>
                    </a>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>