<mat-card class="project-card">
    <mat-card-header>
        <img class="header-image" [src]="content.avatar"/>
        <mat-card-title>{{ content.name }}</mat-card-title>
        <mat-card-subtitle>{{ content.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img class="splash-image" mat-card-image [src]="content.image"/>
    <mat-card-content>{{ content.description }}</mat-card-content>
    <mat-card-actions>
      <a [href]="link.link" target=”_blank *ngFor="let link of content.links" class="link-wrapper">
        <button class="link-button" mat-mini-fab matTooltip="{{ link.text }}">
          <mat-icon>{{ link.icon }}</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <br>