.project-card {
    margin: 10px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .splash-image {
        height: 200px;
        object-fit: cover;
        object-position: 0% 0%;
    }

    .header-image {
        height: 50px;
        order: -1;
    }

    .link-wrapper {
        margin: 5px;
        width: 5px;
        
        .link-button {
           padding: 0; 
        }
    }
}