.project-card {
    margin: 10px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .image-container {
        height: 200px;
        margin: 0 -16px 5px -16px;
        overflow-y: hidden;
        overflow-x: hidden;

        &.scrollable{
            overflow-y: auto;
        }

        .splash-image {
            margin: 0;
            width: 100%;
        }
    }

    .header-image {
        height: 50px;
        order: -1;
        background-color: white;
        padding: 5px;
        border-radius: 15%;
    }

    .link-wrapper {
        margin: 5px;
        width: 5px;
        
        .link-button {
           padding: 0; 
        }
    }

    mat-card-content {
        white-space: pre-line;
    }
}