#nav-bar {
    display: flex;
    justify-content:stretch;
    align-items: center;
    padding: 30px;

    .title {
        font-size: xx-large;
        font-weight: 500;
        margin-right: 10px;
    }

    #nav-titles {
        margin-right: 5px;
        flex-grow: 1;
        h2 {
            font-size: medium;
        }
    }

    mat-icon {
        height: 30px;
        width: 30px;
        margin: 5px;
    }
}