<mat-toolbar color="primary" id="nav-bar">
    <div id="nav-titles">
        <span class="title">Launie Weston</span> <span>WEB DEVELOPER</span>
    </div>
    <a href="https://www.instagram.com/launie_weston/" target=”_blank matTooltip="Instagram">
        <mat-icon color="accent" aria-hidden="false" aria-label="instagram" svgIcon="insta" id="insta-icon"></mat-icon>
    </a>
    <a href="https://www.linkedin.com/in/lwestonuk/" target=”_blank matTooltip="Linkedin">
        <mat-icon color="accent" aria-hidden="false" aria-label="linkedin" svgIcon="linkedin" id="linkedin-icon"></mat-icon>
    </a>
    <a href="https://github.com/lpweston" target=”_blank matTooltip="Github">
        <mat-icon color="accent" aria-hidden="false" aria-label="github" svgIcon="github" id="github-icon"></mat-icon>
    </a>
    <mat-slide-toggle  [formControl]="toggleControl" class="mr-8"></mat-slide-toggle>
    <mat-icon >bedtime</mat-icon>
</mat-toolbar>
<app-tabs></app-tabs>