#nav-bar {
    margin: 0 20px;
    display: flex;
    justify-content:stretch;
    align-items: center;

    #nav-titles {
        margin-right: 5px;
        flex-grow: 1;
        h2 {
            font-size: medium;
        }
    }

    mat-icon {
        height: 30px;
        width: 30px;
        margin: 5px;
    }
}