<span id="nav-bar">
    <div id="nav-titles">
        <h1>Launie Weston</h1>
        <h2>WEB DEVELOPER</h2>
    </div>
    <a href="https://www.instagram.com/launie_weston/" target=”_blank>
        <mat-icon aria-hidden="false" aria-label="instagram" svgIcon="insta" id="insta-icon"></mat-icon>
    </a>
    <a href="https://www.linkedin.com/in/lwestonuk/" target=”_blank>
        <mat-icon aria-hidden="false" aria-label="linkedin" svgIcon="linkedin" id="linkedin-icon"></mat-icon>
    </a>
    <a href="https://github.com/lpweston" target=”_blank>
        <mat-icon aria-hidden="false" aria-label="github" svgIcon="github" id="github-icon"></mat-icon>
    </a>
</span>